<div class="userForm">
    <form class="form" action="/add" method="post">
        <input type="text" name="noteTitle" class="userInput" placeholder="Enter title" required>
        <textarea rows="8" name="noteBody" class="userInput" placeholder="Enter your note  here" required></textarea>
        <Button class="inputBtn" type="submit">Submit</Button>
        <Button class="inputBtn" type="reset">Cancel</Button>
    </form>
</div>